# TASK4: Email Spam Detection with Machine Learning

# Problem Defination
The project's goal is to create a machine learning model that uses a multinomial classifier to determine if an email is spam, marketing, or personal. Each category has its own training and testing sets in the dataset. The goal is to obtain high classification accuracy while also identifying areas for improvement in the multinomial classifier.

# Data:
As data including the number of categories.
The dataset is divided into training and testing sets for each category and used Multinomial Classifier

# Methodolgy
The methodology included feature extraction and selection for each email category, followed by training and assessing individual machine learning models on corresponding sets.

In [98]:
#!pip install joblib is used to install the joblib library, which is used for easy and efficient serialization and deserialization of Python objects, particularly large arrays and models, to and from disk.

# import basic libraries

In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [105]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
%matplotlib inline

## Read the given data set

In [56]:
spam=pd.read_csv('spam.csv',encoding="latin-1")
spam

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [58]:
len(spam)

5572

In [103]:
spam.head(10)

   class                                            message  label
0      0  Go until jurong point, crazy.. Available only ...      0
1      0                      Ok lar... Joking wif u oni...      0
2      1  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      0  U dun say so early hor... U c already then say...      0
4      0  Nah I don't think he goes to usf, he lives aro...      0
5      1  FreeMsg Hey there darling it's been 3 week's n...      1
6      0  Even my brother is not like to speak with me. ...      0
7      0  As per your request 'Melle Melle (Oru Minnamin...      0
8      1  WINNER!! As a valued network customer you have...      1
9      1  Had your mobile 11 months or more? U R entitle...      1

In [60]:
import warnings 
warnings.filterwarnings("ignore")

In [61]:
spam=spam.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
spam

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [62]:
spam.value_counts

<bound method DataFrame.value_counts of         v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]>

## Exploratory Data Analysis(EDA)
cleaning the data

In [63]:
#checking null values
spam.isnull()

         v1     v2
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
5567  False  False
5568  False  False
5569  False  False
5570  False  False
5571  False  False

[5572 rows x 2 columns]

In [64]:
spam.isnull().sum()

v1    0
v2    0
dtype: int64

In [65]:
# checking data types
spam.dtypes

v1    object
v2    object
dtype: object

In [66]:
spam.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [67]:
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [68]:
spam.nunique()

v1       2
v2    5169
dtype: int64

In [69]:
colname=['class','message']
colname

['class', 'message']

In [70]:
spam.columns=colname

In [71]:
spam['label']=spam['class'].map({'ham': 0, 'spam': 1})
spam

     class                                            message  label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...      1
5568   ham              Will Ì_ b going to esplanade fr home?      0
5569   ham  Pity, * was in mood for that. So...any other s...      0
5570   ham  The guy did some bitching but I acted like i'd...      0
5571   ham                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

## Lable Enocoding

In [99]:
#Lable_Encoding the data
from sklearn import preprocessing

In [73]:
label_encoder=preprocessing.LabelEncoder()
spam['class']=label_encoder.fit_transform(spam['class'])
spam

      class                                            message  label
0         0  Go until jurong point, crazy.. Available only ...      0
1         0                      Ok lar... Joking wif u oni...      0
2         1  Free entry in 2 a wkly comp to win FA Cup fina...      1
3         0  U dun say so early hor... U c already then say...      0
4         0  Nah I don't think he goes to usf, he lives aro...      0
...     ...                                                ...    ...
5567      1  This is the 2nd time we have tried 2 contact u...      1
5568      0              Will Ì_ b going to esplanade fr home?      0
5569      0  Pity, * was in mood for that. So...any other s...      0
5570      0  The guy did some bitching but I acted like i'd...      0
5571      0                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

In [74]:
x=spam["message"]
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [75]:
y=spam["class"]
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: class, Length: 5572, dtype: int32

In [100]:
#fitting the data 
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(x)
X

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

## Splitting the Data into Train and Test

In [106]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=42)

In [107]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(4457, 8672) (1115, 8672) (4457,) (1115,)

## Naive Bayes Classifier

In [108]:
# fitt the Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
classif=MultinomialNB()
classif.fit(X_train,y_train)

MultinomialNB()

In [109]:
# finding the score 
classif.score(X_test,y_test)

0.97847533632287

In [110]:
# Predections 
ypred = classif.predict(X_test)
ypred

array([1, 0, 1, ..., 0, 0, 1])

In [111]:
# Classification Report
from sklearn.metrics import classification_report
print(classification_report(y_test, ypred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       965
           1       0.91      0.93      0.92       150

    accuracy                           0.98      1115
   macro avg       0.95      0.96      0.95      1115
weighted avg       0.98      0.98      0.98      1115

In [112]:
import joblib
joblib.dump(classif, 'NB_spam_model.pkl')

['NB_spam_model.pkl']

In [115]:
NB_spam_model=open('NB_spam_model.pkl','rb')
classif=joblib.load(NB_spam_model)

In [116]:
print(classification_report(y_test, ypred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       965
           1       0.91      0.93      0.92       150

    accuracy                           0.98      1115
   macro avg       0.95      0.96      0.95      1115
weighted avg       0.98      0.98      0.98      1115

# The accuracy we got is 98%